.mealBox{
   
    max-width: fit-content;
    min-width: 50rem;
    position: absolute;
    left: 20%;
    right:20%;
    margin-top: 25px;
    padding: 10px;
    border-radius: 15px;
   


}
.mealBox h3{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(117, 70, 9);

}
.mealBoxList{
    display: flex;
    flex-direction: column;
   
    
}
